@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Lexend:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-lexend: "Lexend", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #13ec5b;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102216;
}

@layer base {
  body {
    @apply font-display bg-background-light text-slate-900 antialiased;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.filled {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
